@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.about_container{
     
    height: 90vh;
    margin: 50px 100px 00px 100px;
}
.about_container > p{
    
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
    font-family: 'Noto Sans JP', sans-serif;
}
.about_container > h4{
   margin-bottom: 20px;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
    font-family: 'Noto Sans JP', sans-serif;
}